
/* global styling */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input {
    font: "Lato", sans-serif;
    line-height: 1.5em;
}

body, input {
    color: #171717;
}

body {
    background: #f1f1f1;
    width: 100vh;
    height: 100vh;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    background-color: #5CA720;
}

body::-webkit-scrollbar-thumb {
    background-color: #5CA720;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #FFF;
}

/* ======================== */

img {
    object-fit: cover;
}

/* === mobile styling === */

/* header styling */
.l-header {
    background-color: #eee;
    width: 100vw;
    height: 88px;
    overflow: hidden;
}

.navl {
    display: flex;
    flex-direction: column;
}

.nav__logo {
    position: relative;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    top: 2rem;
    left: 1.9rem;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    list-style: none;
}

.nav__item {
    margin: 10px;
}

.nav__item {
    color: #5CA720;
}

/* banner styling */

.banner > img {
    width: 100vw;
    height: 220px;
    object-fit: cover;
}

/* main content styling */
.l-main {
    width: 100vw;
    height: auto;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.text > h2 {
    margin-left: 1.4rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.text > h3 {
    margin-right: 2.4rem;
    font-size: 0.8rem;
    font-weight: 200;
}

/* products section styling */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin: auto;
    align-content: center;
    text-align: center;
}

.panel > img {
    width: 30vh;
    height: 30vh;
    margin-top: 2rem;
}

.panel > p:last-child {
    margin-right: 5rem;
    font-weight: 600;
}


p > span {
    color: #5CA720;
}

/* === small screens === */
@media screen and (max-width: 380px) {
    .products {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .panel > img {
        width: 160px;
        height: 160px;
    }
}

/* === desktop styling == */
@media screen and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .text > h2 {
        margin-left: 6rem;
    }

    .text > h3 {
        margin-right: 6.2rem;
    }

    .panel > img {
        width: 20vw;
        height: 20vh; 
    }

    .panel > p:last-child {
        margin-right: 9.4rem;
    }
}
